body{
    font-family: Verdana;
    text-align:  center;
}
#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}
.myLabels{
    font-size: 3em;
    display: block;
    margin: 10px 0;
}